@model AndreFilho.Blog.Application.ViewModel.CategoriesAndTagsViewModel

@{
    ViewBag.Title = "CategoriesAndTags";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}
<div class="col-md-8" id="Listas">
    <h2>@ViewBag.Title</h2>

    <p>

        @Html.ActionLink("Nova Tag", "AddTag", "Blog", null, new { @class = "btn btn-primary", data_modal = "" })
    </p>

    <div id="replacetarget1">
        @Html.Partial("_TagList", Model.Tags)
    </div>
    <p>
        @Html.ActionLink("Nova Categoria", "AddCategory", "Blog", null, new { @class = "btn btn-primary", data_modal = "" })
    </p>
    <div id="replacetarget2">
        @Html.Partial("_CategoryList", Model.Categories)
    </div>
</div>
<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

<script type="text/javascript">


    $(function () {
        $.ajaxSetup({ cache: false });

        $('#Listas').on("click", "a[data-modal]",
       function (e) {

           $('#myModalContent').load(this.href, function () {
               $('#myModal').modal({
                   /*backdrop: 'static',*/
                   keyboard: true
               }, 'show');
               bindForm(this);
           });
           return false;
       });
    });

    function bindForm(dialog) {
        $('form', dialog).submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                        if (result.url.indexOf("Categories") > -1)
                            $('#replacetarget2').load(result.url);
                        else
                            $('#replacetarget1').load(result.url); // Carrega o resultado HTML para a div demarcada
                    } else {
                        $('#myModalContent').html(result);
                        bindForm(dialog);
                    }
                }
            });
            return false;
        });
    }
</script>


